<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <body>
        <div class="text-center">
            <script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>    
            <script th:src="@{/js/bootstrap.bundle.js}" type="text/javascript"></script>    
            <script th:src="@{/js/functions.js}" type="text/javascript"></script>    
            <script th:src="@{/js/inputs.js}" type="text/javascript"></script>  
            &copy;2021 Guadalupe Rosas
        </div>
    </body>
</html>
