<div th:replace="~{layout/header :: header}"></div>   <!-- calling header -->
<div th:replace="~{index/slider :: slider}"></div>    <!-- calling slider-->
<hr>
<br>
<div container="p-5 ">
    <form class="text-center " action="/index" method="get">    <!--previw polls in home-->
        <div class="row " style="margin-left: 50px"  >
            <div class="col-md-2 " >
                <input type="hidden" name="page" value='0'/>
                <input type="text" id="filtrar" name="filtrar" placeholder="Buscar" class="form-select " />
            </div>
            <div class="col-md-1" >
                <div class="row"> 
                    <input type="submit" value="Buscar" class="btn btn-success buscar"/>
                </div>
            </div>
        </div>
    </form>
</div>  
    <br>
    <div class="row  m-md-5" th:each="poll : ${listPolls[2]}">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">
                    <h3 th:text="${poll.poll}"></h3>
                </div>
                <div class="card-body">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col">
                                <p th:text="${poll.response}"></p>         
                            </div>
                            <div class="col" >
                                <p>Responses</p>        
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-info" th:href="@{/details?id=} + ${poll.id}">
                        Details
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <article th:utext="${listPolls[0]}"></article>
            <br />
            <article th:utext="${listPolls[1]}"></article>
        </div>
    </div>    
<div th:replace="~{layout/footer :: footer}"></div>
